<button class="btn-pedidos" (click)="abrir()">
  <svg data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
    <path stroke-linecap="round" stroke-linejoin="round"
          d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"></path>
  </svg>
</button>

<div class="overlay" *ngIf="visible" (click)="cerrar()"></div>

<div class="panel" *ngIf="visible" @panelAnim>
  <button class="close" (click)="cerrar()">✕</button>

  <h2>Mis pedidos</h2>

  <div *ngIf="pedidos.length === 0" class="empty">
    Todavía no tenés pedidos
  </div>

  <div class="scroll-div">
    <div *ngFor="let p of pedidos" class="pedido-card">
      <div class="pedido-info">
        <p><b>Pedido {{ p.nombre }}</b></p>
        <p>Total: ${{ p.total }}</p>
        <p [class]="p.estado" class="estado"> Estado: {{ p.estado }}</p>
        <p>Cantidad: {{p.cantidad}}</p>
        <p>{{ p.fecha | date:'short' }}</p>
        <div class="btn-wrapper">
          <button 
            *ngIf="confirmandoId !== p.id && p.estado !== 'entregado'"
            type="button"
            class="btn_cancelar"
            [class.cancelado]="p.estado === 'cancelado'"
            (click)="confirmar(p.id)">
            
            {{ p.estado === 'cancelado' ? 'Reactivar' : 'Cancelar Pedido' }}
          </button>

          <!-- Cartel de confirmación -->
          <div *ngIf="confirmandoId === p.id && p.estado !== 'entregado'" class="confirm-box">
            <p>
              ¿Seguro que querés
              {{ p.estado === 'cancelado' ? 'reactivar' : 'cancelar' }}?
            </p>

            <div class="confirm-actions">
              <button class="ok" (click)="cambiarEstado(p)">Sí</button>
              <button class="no" (click)="cancelarConfirmacion()">No</button>
            </div>
          </div>
        </div>

      </div>
      <img [src]="p.imagen_url" alt="{{p.id}}" class="pedido_img">
    </div>
  </div>
</div>
