.chat-toggle {
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 22px;
  background: #4f46e5;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-toggle:hover {
  background: #776de6;
}

.chat-toggle svg {
  width: 5vh;
  height: 5vh;
}

.chat-container {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 360px;
  height: 80vh;
  background: white;
  border-radius: 15px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 1000;
}

.chat-header {
  background: #4f46e5;
  color: white;
  padding: 15px;
  font-weight: bold;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chat-body {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background: #f3f4f6;
  scrollbar-width: none;
}

.chat-body::-webkit-scrollbar {
  display: none; /* Chrome, Edge, Safari */
}

.mensaje {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 12px;
  max-width: 90%;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  white-space: pre-line;
}

.usuario {
  background: #4f46e5;
  color: white;
  align-self: flex-end;
  margin-left: auto;
}

.bot {
  background: white;
  border: 1px solid #ddd;
  overflow-x: auto;
}

.chat-footer {
  display: flex;
  padding: 10px;
  border-top: 1px solid #eee;
}

.chat-footer input {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.chat-footer button {
  margin-left: 8px;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  background: #4f46e5;
  color: white;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

th, td {
  padding: 4px;
  text-align: left;
}

th {
  background: #f0f0f0;
}

@media (max-width: 460px) {
  .chat-container {
    width: 90vw;
    height: 70vh;
    right: 5vw;
    top: 10vh;
  }

  .chat-toggle {
    z-index: 1001;
    bottom: 12vh;
    right: 5px;
  }
}