<div class="header_container" [class.hide]="!visible">
  <h1 class="logo">
    <div class="logo-icon">
      <img src="/favicon.ico" alt="Icono" />
    </div>
    <div class="logo-text">
      <span class="logo-top">Cuatro</span>
      <span class="logo-bottom">Coronas</span>
    </div>
  </h1>

  <div class="buscador_container">
    <input 
      type="text"
      placeholder="Buscar productos..."
      (input)="buscar($event)"
      class="search-input"
    />
    <div class="icon">
      <svg data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"></path>
      </svg>
    </div>
  </div>

  <div class="carrito-btn">
    <app-carrito></app-carrito>
  </div>

</div>